/* *{
    margin:0;
    padding:0;
} */
.MainRightBar{
    height:100vh;
    width:100%;
    overflow:auto;
}

p{
    color:black;
}

.submainrightbar {
    display:flex;
    /* align-items:center; */
 }